.fale-conosco {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .contact-form,
  .contact-info {
    margin: 0 24px;
    width: 50%;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;

    .form-login {
      border-color: #FE6A01;
    }
  }

  b {
    font-weight: bold;
  }

  .contact-form {
    h2 {
      margin-bottom: 16px;
      font-weight: 300;
      text-transform: normal;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .mat-form-field {
        width: 100%;
        margin-bottom: 16px;

        .mat-form-field-flex {
          background-color: #fff; /* Fundo branco para os inputs */
          border-color: #FE6A01; /* Borda laranja */
          border-radius: 4px; /* Borda arredondada */
        }

        .mat-form-field-outline-thick.mat-focused .mat-form-field-outline-start {
          border-color: #FFD700; /* Borda amarela ao focar */
        }

        .mat-input-element {
          padding: 8px;
          font-family: "Open Sans", sans-serif;
          color: #333; /* Cor do texto nos inputs */
        }
      }

      button {
        width: 40%;
        margin: auto;
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        background-color: #FE6A01;
        color: #fff;
      }
    }
  }

  .contact-info {
    p {
      margin-bottom: 16px;
      font-weight: 500;
    }

    h2 {
      margin-bottom: 14px;
      font-weight: 300;
    }

    hr {
      margin-top: -8px;
      width: 35%;
      margin-bottom: 24px;
      color: #FE6A01;
    }

    i {
      scale: 1.3;
      padding-right: 8px;
      color: #474747;
    }

    .social-icons {
      display: flex;
      gap: 10px;
      margin-top: 20px;

      i {
        scale: 1;
        padding-right: 8px;
        color: #474747;

        &:hover {
          color: #000000;
        }
      }

      a {
        font-size: 24px;
        color: #333;
        text-decoration: none;

        &:hover {
          color: #000000;
        }
      }
    }
  }
}
