<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Diretores</span>
    </ng-template>
    <app-diretores></app-diretores>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Departamentos</span>
    </ng-template>
    <app-departamentos></app-departamentos>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Secretaria Geral</span>
    </ng-template>
    <app-sec-geral></app-sec-geral>
  </mat-tab>
</mat-tab-group>
