<div class="background-container">
  <div class="container">
    <mat-card>
      <h1>Títulos & Campanhas</h1>
      <div class="container text-start">
        <div class="row align-items-start">
          <div class="col-md-8">
            <h2><i class="fas fa-trophy"></i> Último Título</h2>
            <mat-card-subtitle>3º Copa Jardim Roriz -
              <b>2022</b></mat-card-subtitle>
            <div class="img-container mt-2">
              <img mat-card-image src="../../../assets/titulos/titulo-01.jpg" alt="Título">
            </div>
            <a mat-raised-button routerLink=''><i class="fa-solid fa-circle-plus"></i>Detalhes</a>
          </div>
          <div class="col-md-4">
            <h2><i class="fa-brands fa-readme"></i> Campanhas</h2>
            <mat-card-content>
              <mat-card-title class="title mt-5">1º Copa Jardim Roriz</mat-card-title>
              <div class="row align-items-center">
                <div class="col-sm-4">
                  <span class="icon-text mt-2"><i class="fas fa-calendar-alt"></i> 2018</span>
                </div>
                <div class="col-sm-6">
                  <span class="icon-text mt-2"><i class="fa-solid fa-medal"></i> 4º Colocado</span>
                </div>
              </div>
            </mat-card-content>
            <hr style="width: 80%; margin-left: 12px; color: orange;">
            <mat-card-content>
              <mat-card-title class="title mt-4">2º Copa Jardim Roriz</mat-card-title>
              <div class="row align-items-center">
                <div class="col-sm-4">
                  <span class="icon-text mt-2"><i class="fas fa-calendar-alt"></i> 2019</span>
                </div>
                <div class="col-sm-6">
                  <span class="icon-text mt-2"><i class="fa-solid fa-medal" style="color: #BABABA"></i> 2º Colocado</span>
                </div>
              </div>
            </mat-card-content>
            <hr style="width: 80%; margin-left: 12px; color: orange;">
            <mat-card-content>
              <mat-card-title class="title mt-4">3º Copa Jardim Roriz</mat-card-title>
              <div class="row align-items-center">
                <div class="col-sm-4">
                  <span class="icon-text mt-2"><i class="fas fa-calendar-alt"></i> 2022</span>
                </div>
                <div class="col-sm-6">
                  <span class="icon-text mt-2"><i class="fas fa-trophy" style="color: #D3A01F;"></i> Campeão</span>
                </div>
              </div>
            </mat-card-content>
            <hr style="width: 80%; margin-left: 12px; color: orange;">
            <mat-card-content>
              <mat-card-title class="title mt-4">15º Copa Planaltina-DF - 1º Divisão</mat-card-title>
              <div class="row align-items-center">
                <div class="col-sm-4">
                  <span class="icon-text mt-2"><i class="fas fa-calendar-alt"></i> 2023</span>
                </div>
                <div class="col-sm-6">
                  <span class="icon-text mt-2"><i class="fa-solid fa-medal" style="color: #C77B30;"></i> 3º Colocado</span>
                </div>
              </div>
            </mat-card-content>
            <hr style="width: 80%; margin-left: 12px; color: orange;">
            <mat-card-content>
              <mat-card-title class="title mt-4">Copa Planaltina - Nicácio Apolinário</mat-card-title>
              <div class="row align-items-center">
                <div class="col-sm-4">
                  <span class="icon-text mt-2"><i class="fas fa-calendar-alt"></i> 2024</span>
                </div>
                <div class="col-sm-6">
                  <span class="icon-text mt-2"><i class="fa-solid fa-medal" style="color: #BABABA"></i> 2º Colocado</span>
                </div>
              </div>
            </mat-card-content>
            <hr style="width: 80%; margin-left: 12px; color: orange;">
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
