<div class="container-fluid">
  <h1>Projetos e Incentivos</h1>
</div>

<div class="container">
  <img src="../../../assets/projetos-incentivos/banner-02.png" alt="">
</div>

<div class="container campaign-section">
  <div class="campaign">
    <div class="row align-items-start">
      <div class="col-sm-4">
        <h2><i class="fa-solid fa-snowman"></i>Inverno Solidário</h2>
        <p>Sua doação pode fazer a diferença! Traga roupas em bom estado, mantas
          e qualquer item que possa ajudar a amenizar o frio das noites geladas.
          Juntos, podemos aquecer não apenas corpos, mas também corações,
          mostrando que a solidariedade é o maior presente que podemos oferecer.
        </p>

        <mat-card-title class="title mt-5">Mais Informações:</mat-card-title>
        <mat-card-content>
          <div class="row align-items-start">
            <div class="col-sm-5">
              <span class="icon-text mt-2"><i class="fa-brands fa-whatsapp" style="color: #00A884;"></i>61 98765 4321</span>
            </div>
            <div class="col-sm-7">
              <span class="icon-text mt-2"><i class="fa-regular fa-envelope" style="color: #FE6A01;"></i>contato&#64;jovemplan.com</span>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn" mat-raised-button mat-button type="submit"><i class="fa-solid fa-circle-plus"></i>Seja um Doador</button>
        </mat-card-actions>
      </div>

      <div class="col-sm-8 mb-5">
        <img src="../../../assets/projetos-incentivos/Inverno-01.png"
          alt="Campanha do Frio">
      </div>
    </div>
  </div>

  <div class="campaign">
    <div class="row align-items-start">
      <div class="col-sm-8">
        <img src="../../../assets/projetos-incentivos/fome-01.png"
          alt="Campanha do Frio">
      </div>

      <div class="col-sm-4">
        <h2><i class="fa-solid fa-utensils"></i>Campanha contra à fome</h2>
        <p>Campanha Contra à Fome, realizada anualmente e você pode fazer a diferença! Estamos arrecadando alimentos não perecíveis para ajudar famílias em situação de vulnerabilidade em Planaltina-DF. Contribua com arroz, feijão, macarrão, óleo e outros itens essenciais.
        </p>

        <mat-card-title class="title mt-5">Mais Informações:</mat-card-title>
        <mat-card-content>
          <div class="row align-items-start">
            <div class="col-sm-5">
              <span class="icon-text mt-2"><i class="fa-brands fa-whatsapp" style="color: #00A884;"></i>61 98765 4321</span>
            </div>
            <div class="col-sm-7">
              <span class="icon-text mt-2"><i class="fa-regular fa-envelope" style="color: #FE6A01;"></i>contato&#64;jovemplan.com</span>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn" mat-raised-button mat-button type="submit"><i class="fa-solid fa-circle-plus"></i>Seja um Doador</button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>
