.container-fluid {
  display: flex;
  justify-content: center;
  background-color: #fe6a01;
  padding: 24px;

  .social-media {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    .content {
      display: flex;
      align-items: center;

      h1 {
        margin: 0;
        font-family: "Fjalla One", sans-serif;
        font-weight: 500;
        font-size: 30px;
        font-style: normal;
        text-transform: uppercase;
        margin-right: 16px; /* Espaço entre o título e os ícones */
      }

      b {
        padding: 8px 8px;
        color: #fff0e6;
      }

      .icons {
        display: flex;
        align-items: center;

        i {
          color: #fff0e6b9;
          margin: 0 8px;
          font-size: 2rem;
        }
      }
    }
  }
}
