<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Home</span>
    </ng-template>
    <app-dashboard-member></app-dashboard-member>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Gerenciar Minhas Informações</span>
    </ng-template>
    <app-manager-informations></app-manager-informations>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Gerenciar Planos</span>
    </ng-template>
    <app-manager-plans></app-manager-plans>
  </mat-tab>
</mat-tab-group>
