<div class="container-fluid text-center mb-5">
  <h1>Destaques</h1>
  <div class="destaques">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <mat-card>
          <img src="../../../assets/destaques/dest-01.jpg" alt="">
          <mat-card-title>Garanta já sua camisa, vista a vida de Jovem Plan</mat-card-title>
          <mat-card-subtitle><a href="">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </a></mat-card-subtitle>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <img src="../../../assets/destaques/dest-02.jpg" alt="">
          <mat-card-title>Seja um patrocinador Jovem Plan</mat-card-title>
          <mat-card-subtitle><a href="">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </a></mat-card-subtitle>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <img src="../../../assets/destaques/dest-03.jpg" alt="">
          <mat-card-title>Faça parte da Família Jovem Plan</mat-card-title>
          <mat-card-subtitle><a href="">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </a></mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- <h1>Mídias Jovem Plan</h1> -->
<div class="midias-banner mt-2">
  <div class="row align-items-center">
    <div class="col-sm-7">
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/MRz1Ss3a-GY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-5">
      <h5>Copa Planaltina <br> Nicácio Apolinário - 2024</h5>
      <mat-card-title>Jovem Plan 4 x 4 Valência</mat-card-title>
      <mat-card-subtitle>Vídeo completo da final <b>Copa Planaltina Nícacio Apolinário</b>, realizada no dia 09/06.</mat-card-subtitle>
      <button mat-raised-button>Ver Galeria</button>
    </div>
  </div>
</div>
