<nav class="navbar navbar-expand-lg fixed-top" id="mainNavbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='/' routerLinkActive="router-link-active">
      <img src="../../../assets/logo-jovemPlan-new.png" alt="Logo" id="navbarLogo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">Jovem Plan</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="fa-solid fa-person-dots-from-line"></i> Diretoria</a>
            <a class="dropdown-item" href="#"><i class="fas fa-book"></i> História</a>
            <a class="dropdown-item" href="#"><i class="fas fa-trophy"></i> Títulos</a>
            <a class="dropdown-item" href="#"><i class="fas fa-business-time"></i> Patrocinadores</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">Notícias</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="fas fa-calendar-alt"></i> Tabela de Jogos</a>
            <a class="dropdown-item" href="#"><i class="fas fa-chart-bar"></i> Resultados</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">Competições</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="fas fa-futbol"></i> 1º Divisão - Planaltina-DF</a>
            <a class="dropdown-item" href="#"><i class="fas fa-trophy"></i> Copa Jardim Roriz</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">Mídias</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="fas fa-photo-video"></i> Fotos</a>
            <a class="dropdown-item" href="#"><i class="fas fa-video"></i> Videos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">Contatos</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="fas fa-envelope"></i> Fale Conosco</a>
            <a class="dropdown-item" href="#"><i class="fas fa-share-alt"></i> Mídias Sociais</a>
            <a class="dropdown-item" href="#"><i class="fas fa-user-plus"></i> Seja Membro</a>
          </div>
        </li>
      </ul>
      <button class="btn btn-outline-success" type="submit"><i class="fas fa-user-plus"></i> Seja Sócio</button>
    </div>
  </div>
</nav>
