/* midias-social.component.scss */
.container-fluid {
  display: flex;
  justify-content: center;
  background-color: #fe6a01;
  padding: 24px;

  .midias-sociais {
    display: flex;
    align-items: center;

    .content {
      display: flex;
      align-items: center;
    }

    h1 {
      margin-top: 18px;
      font-family: "Fjalla One", sans-serif;
      font-weight: 500;
      font-size: 30px;
      font-style: normal;
      text-transform: uppercase;
      margin-right: 16px;
      display: flex;
      align-items: center;
    }

    b {
      padding: 8px 8px;
      color: #fff0e6;
    }

    .icons {
      display: flex;
      align-items: center;

      i {
        color: #fff0e685;
        margin: 0 8px;
        font-size: 2rem;
      }
    }
  }
}

.slider-social {
  .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .col {
    flex: 1;
    margin: 16px;
  }

  mat-card {
    max-width: 400px;
    margin: 16px;
  }

  mat-card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  mat-card-subtitle {
    font-size: 1rem;
    color: gray;
  }

  mat-card-content {
    font-size: 1rem;
  }

  mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  mat-icon {
    display: flex;
    align-items: center;

    i {
      margin-right: 8px;
    }
  }
}

.loading,
.error {
  text-align: center;
  font-size: 1.2rem;
  margin: 20px 0;
}
