<div class="carrousel-next-matchs mb-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/next-matchs/next-match-01.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/next-matchs/next-match-02.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/next-matchs/next-match-03.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <i class="fas fa-chevron-left"></i>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <i class="fas fa-chevron-right"></i>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
