<div class="container mt-5 mb-5">
  <mat-card class="diretor-card">
    <div class="row align-items-start">
      <div class="col-sm-6 text-center">
          <mat-card-content>
            <img mat-card-image src="../../../../assets/diretoria/diretor/diretor-01.jpg" alt="Foto do Presidente">
            <h2>Raphael Araújo</h2>
            <h3>Presidente</h3>
          </mat-card-content>
      </div>
      <div class="col-sm-6 description-container">
        <div class="description mt-2">
          <h1>Raphael Araújo</h1>
          <mat-card-subtitle>Desde janeiro de 2017</mat-card-subtitle>
          <p>Raphael Araújo, presidente da Jovem Plan, nasceu em Planaltina-DF, e é uma figura central na cena esportiva local. Além de ser empresário no ramo esportivo, Raphael tem uma história significativa nas categorias de base do futebol, tendo atuado em clubes como CFZ, Ceilândia e Planaltina Esporte Clube.<br><br>

          Fundador da Jovem Plan, Raphael iniciou o projeto com amigos, com o objetivo de promover o desenvolvimento esportivo e comunitário. Desde que assumiu a presidência em 2017, tem liderado o clube com dedicação e visão estratégica, buscando não apenas o sucesso esportivo, mas também o impacto positivo na comunidade.<br><br>

          Casado e pai de dois filhos, Raphael equilibra suas responsabilidades familiares com seu compromisso com o clube. Atualmente, ele continua sua paixão pelo futebol disputando na Jovem Plan a primeira divisão de Planaltina, demonstrando não só sua habilidade dentro de campo, mas também seu papel inspirador como líder e mentor para os jovens atletas e membros da comunidade.
          </p>
        </div>
      </div>
    </div>
  </mat-card>
</div>
