<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/admin-component/banners/banner-home-01.png" class="d-block w-100" alt="Slide 1">
      <div class="carousel-caption d-none d-md-block text-center">
        <a class="btn-associete" mat-raised-button routerLink="/register-associete">Associe-se Agora!</a>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="title-plans mt-5">
    <h1>Conheça Nossos Planos</h1>
  </div>
  <div class="row align-items-text-center">
    <div class="col-sm-4">
      <mat-card>
        <mat-card-content>
          <img src="../../../../assets/admin-component/banners/plan-individual-01.png" alt="">
        </mat-card-content>
      </mat-card>
      <button mat-raised-button class="btn-associe" (click)="openPlanDetail('Plano Individual', individualPlanDescription)">Ver detalhes</button>
    </div>

    <div class="col-sm-4">
      <mat-card>
        <mat-card-content>
          <img src="../../../../assets/admin-component/banners/plan-familia-01.png" alt="">
        </mat-card-content>
      </mat-card>
      <button mat-raised-button class="btn-associe" (click)="openPlanDetail('Plano Família/Casal', familyPlanDescription)">Ver detalhes</button>
    </div>

    <div class="col-sm-4">
      <mat-card>
        <mat-card-content>
          <img src="../../../../assets/admin-component/banners/plan-premium-01.png" alt="">
        </mat-card-content>
      </mat-card>
      <button mat-raised-button class="btn-associe" (click)="openPlanDetail('Plano Premium', premiumPlanDescription)">Ver detalhes</button>
    </div>
  </div>
</div>

<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/admin-component/banners/banner-home-04.png" class="d-block w-100" alt="Slide 1">
      <div class="carousel-caption d-none d-md-block text-center">
      </div>
    </div>
  </div>
</div>
