.container-fluid {
  padding: 0;
  overflow: hidden;
  background-image: url('../../../assets/destaques/dest-03.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: 1;
  }

  .row {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    z-index: 2;
  }

  .col-sm-6 {
    padding: 0;
    height: 100%;
  }

  .login-card {
    margin: 0;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Torna o cartão de login mais opaco */
    z-index: 3;

    .logo-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .logo {
        width: 100px; /* Ajuste conforme necessário */
      }
    }

    mat-card-title {
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      font-family: "Open Sans", "Helvetica Neue";
      color: #fe6a01;
      margin-bottom: 20px;
    }

    .form-row {
      margin-bottom: 16px;

      .full-width {
        width: 100%;
      }
    }

    .password-recovery {
      margin-top: -10px;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;

      a {
        color: #fe6a01;
        text-decoration: none;
        font-family: "Open Sans", "Helvetica Neue";

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .mat-form-field {
      .mat-form-field-flex {
        background-color: #fff;
        border: 1px solid #fe6a01;
        border-radius: 4px;
      }

      .mat-form-field-outline-thick.mat-focused .mat-form-field-outline-start {
        border-color: #ffd700;
      }

      .mat-input-element {
        padding: 16px;
        color: #333;
      }

      .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 8px;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 16px;

      button {
        width: 100px;
        margin-top: 16px;
        background-color: #fe6a01;
        color: #fff;
        font-size: 16px;
        font-family: "Open Sans", "Helvetica Neue";

        &:hover {
          background-color: #d3a01f;
        }
      }

      .cancel {
        background-color: #c0bfbf;
      }
    }

    .error-message {
      color: red;
      text-align: center;
      margin-bottom: 16px;
    }
  }
}
