.container-fluid {
  padding: 0;
  margin-top: 90px;
  overflow: hidden;

  .background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .row {
    position: relative;
    z-index: 1;
  }

  .col-sm-6 {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Garante que ambas as colunas tenham a mesma altura */
    padding: 0;
  }

  .register-partner {
    width: 100%;
    max-width: 750px; /* Ajuste conforme necessário */
    padding: 20px;
    margin-top: 0px; /* Redefinido para 0 para evitar espaço extra */
    margin-bottom: 0; /* Redefinido para 0 para evitar espaço extra */

    mat-card-title {
      padding-top: 13px;
      margin-bottom: 30px;
      text-align: left;
      text-transform: uppercase;
      font-size: 30px;
      font-family: "Open Sans", "Helvetica Neue";
      color: #fe6a01;
    }

    mat-card-subtitle {
      margin-bottom: 10px;
      font-family: "Open Sans", "Helvetica Neue";
    }

    .form-row {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-bottom: 16px;

      .mat-form-field {
        width: 100%;
      }

      .half-width {
        width: calc(50% - 8px);
      }

      .third-width {
        width: calc(33.33% - 8px);
      }

      .full-width {
        width: 100%;
      }
    }

    .mat-form-field {
      .mat-form-field-flex {
        background-color: #fff;
        border: 1px solid #fe6a01;
        border-radius: 4px;
      }

      .mat-form-field-outline-thick.mat-focused .mat-form-field-outline-start {
        border-color: #ffd700;
      }

      .mat-input-element {
        padding: 16px;
        color: #333;
      }

      .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 8px;
      }
    }

    mat-card-actions {
      display: flex;
      margin-top: -16px;
      justify-content: center;
      float: right;
      margin-bottom: 16px;

      button {
        width: 100%;
        margin: 8px;
        margin-top: 16px;
        background-color: #fe6a01;
        color: #fff;
        padding: 12px;
        font-size: 16px;
        font-family: "Open Sans", "Helvetica Neue";
      }

      button:hover {
        background-color: #d3a01f;
      }

      .disabled {
        background-color: #c0bfbf;
      }

    }
  }
}
