.container-fluid {
  padding: 0;

  .carousel {
    position: relative;

    .carousel-item {
      position: relative;

      .banner-content {
        position: absolute;
        display: block;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;

        h1 {
          margin: 0;
          margin-bottom: 16px;
          font-family: "Open Sans", "Helvetica Neue";
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 100;
        }

        h3 {
          font-family: "Open Sans", "Helvetica Neue";
          font-size: 24px;
          font-weight: 500;
          color: bisque;
        }
      }
    }
  }
}
