<div class="container-fluid">
  <div class="footer-page">
    <div class="footer-columns">
      <!-- Coluna de Links do Menu -->
      <div class="footer-column">
        <h4>Links Úteis</h4>
        <div class="row">
          <div class="col-sm-4">
            <ul>
              <li><a href="#link1">Diretoria</a></li>
              <li><a href="#link2">História</a></li>
              <li><a href="#link3">Títulos</a></li>
              <li><a href="#link4">Nossos Parceiros</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul>
              <li><a href="#link5">Tabela de Jogos</a></li>
              <li><a href="#link6">Resultados</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul>
              <li><a href="#link7">1º Divisão - Planaltina-DF</a></li>
              <li><a href="#link8">Copa Jardim Roriz</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Coluna de Contatos -->
      <div class="footer-column">
        <h4>Contato</h4>
        <p><i class="fa-solid fa-phone"></i>(61) 91234-5678</p>
        <p><i class="fa-brands fa-whatsapp"></i>(61) 3234-5678</p>
        <p><i class="fa-solid fa-envelope"></i>contato&#64;jovemplan.com.br</p>
        <p><i class="fa-solid fa-location-dot"></i>Rua Exemplo, 123, Planaltina-DF</p>
      </div>

      <!-- Coluna de Ícones Sociais -->
      <div class="footer-column">
        <h4>Siga a <b>Jovem Plan</b> nas Redes</h4>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>

    <!-- Conteúdo do final do footer -->
    <mat-card-title>
      Copyright 2024 <span>Jovem Plan</span><i class="fa-regular fa-registered"></i> Todos os direitos reservados
    </mat-card-title>
  </div>
</div>
