<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/banners/home/slide-06.jpg" class="d-block w-100" alt="Slide 1">
      <div class="carousel-caption d-none d-md-block text-center">
        <h1 class="banner-title">
          Campeonato Amador, Planaltina-DF
        </h1>
        <a href="#" class="banner-subtitle">
          Jovem Plan estréia no próximo domingo, <b>14/07</b> na 1° rodada do Campeonato Amador da 1º Divisão em Planaltina
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/banners/home/slide-04.jpg" class="d-block w-100" alt="Slide 2">
      <div class="carousel-caption d-none d-md-block text-center">
        <h1 class="banner-title">
          Conheça a história inspiradora de atletas amadores ...
        </h1>
        <a href="#" class="banner-subtitle">
          Famosa por apresentar alguns atletas conhecido ao mundo, Planaltina-DF tem no fuitebol amador a receita para o sucesso
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/banners/home/slide-05.jpg" class="d-block w-100" alt="Slide 3">
      <div class="carousel-caption d-none d-md-block text-center">
        <h1 class="banner-title">
          Jovem Plan empata na estréia da 8º Copa Jardim Roriz
        </h1>
        <a href="#" class="banner-subtitle">
          Jogando contra a forte equipe do Esbagaçadores, a Jovem Plan empatou na estréia da 8° Copa jardim Roriz na noite do último sábado sábado
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/banners/home/slide-01.jpg" class="d-block w-100" alt="Slide 4">
      <div class="carousel-caption d-none d-md-block text-center">
        <h1 class="banner-title">
          Jovem Plan lançará novo uniforme para disputa dos próximos campeonatos
        </h1>
        <a href="#" class="banner-subtitle">
          Jogando contra a forte equipe do Esbagaçadores, a Jovem Plan empatou na estréia da 8° Copa jardim Roriz na noite do último sábado sábado
        </a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
    <i class="fa-solid fa-backward"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
    <i class="fa-solid fa-forward"></i>
    <span class="visually-hidden">Next</span>
  </button>
</div>
